body {
    text-align: center;
    background: rgb(64, 170, 144);
}
h1 {
    color:rgb(146, 7, 111);
}
p{
    color:rgb(146, 7, 111);
}
p.inputMessage{
    color:rgb(35, 189, 176);
    width:80%;
    height:100px;
}
.offset{
    color:black;
    width:20%;
    height:100px;
}
.encodeButton{
    color:black;
}
.decodeButton{
    color:black;
}
.outputMessage{
    color:black;
}
.reset{
    color:black;
}